In [1]:
import pandas as pd
from pathlib import Path

current_dir = Path().resolve()
dataset_path = current_dir.parent.parent / "src" / "database" / "data" / "output" / "dataset.csv"

df = pd.read_csv(dataset_path)
df.head()

,Air Pollutant,Air Pollutant Description,Data Aggregation Process,Year,Air Pollution Level,Unit Of Air Pollution Level,Air Quality Station Type,Air Quality Station Area,Altitude,Province,Quality,Respiratory_diseases_total,Life_expectancy_total,pib
0,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,80.639,ug/m3,Background,urban,593.0,Madrid,RAZONABLEMENTE BUENA,3.858,77.58,NaN
1,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,85.108,ug/m3,Traffic,urban,704.0,Madrid,RAZONABLEMENTE BUENA,3.858,77.58,NaN
2,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,43.283,ug/m3,Traffic,urban,3.0,Barcelona,RAZONABLEMENTE BUENA,3.499,77.25,NaN
3,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,54.271,ug/m3,Industrial,suburban,34.0,Barcelona,RAZONABLEMENTE BUENA,3.499,77.25,NaN
4,no2,Nitrogen dioxide (air),Annual mean / 1 calendar year,1991-01-01,71.633,ug/m3,Traffic,urban,629.0,Madrid,RAZONABLEMENTE BUENA,3.858,77.58,NaN